ingest.json
{
  "name": "ingest",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1okZkmmGITaHB98Q0xSW-BjlWKhp69-V1",
            "mode": "list",
            "cachedResultName": "n8n-testing",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1okZkmmGITaHB98Q0xSW-BjlWKhp69-V1"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        -176
      ],
      "id": "3f879cfa-7338-41ce-b627-5db3cb9d23d1",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tpVeG6qqDei2kRMf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        -176
      ],
      "id": "b41fd9a2-b14d-4a40-a39b-9770089f3aa7",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tpVeG6qqDei2kRMf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        704,
        -176
      ],
      "id": "c88c9ddf-9183-4523-ad6f-1bac147c8ae6",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "MsAtCCpT5IKpieMu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        672,
        48
      ],
      "id": "0e2e00f7-d72e-4c42-a2b4-b308eb1ed299",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "UR2GkLqALDovdbkW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file-name",
                "value": "={{ $json.name }}"
              },
              {
                "name": "file-id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        800,
        48
      ],
      "id": "efcdc151-99da-49ee-9f58-e9411cb432c0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        880,
        256
      ],
      "id": "b71eeba3-0368-48ef-9336-75956d885f05",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1okZkmmGITaHB98Q0xSW-BjlWKhp69-V1",
          "mode": "list",
          "cachedResultName": "n8n-testing",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1okZkmmGITaHB98Q0xSW-BjlWKhp69-V1"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "91de3033-f07c-4576-b0b8-4a35705a3f19",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tpVeG6qqDei2kRMf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -272
      ],
      "id": "71a3131b-d154-427b-a006-3829d8eab022",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa8a5063-5f71-409a-997b-739e011919d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "785df0858bcf5c8d6a49521f5127cc5d2d28e2d7259eed38b60ee9e4227c98c7"
  },
  "id": "56QwGBSUinVslcHl",
  "tags": []
}